*{
    margin:0;
    padding: 0;
}

body{
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

#background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    filter: grayscale(100%);
    z-index: -1;
}
#overlay{

    opacity: 50%;
    background: black;
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;
    height: 100vh;
    width: 100%;
    filter: blur(100px);
}
p{
    font-size: 3cm;
    color:white;
    font-weight: bold;
    z-index: 1; 

}
#tagline{
    font-size: 0.5cm;
    color:#cfa335;
    font-weight: bold;
    z-index: 1
}
button{
    position: absolute;
    display: flex;
    justify-content: baseline;
    bottom: 3cm;
    z-index: 1;
    font-size: 0.8cm;
    border-radius: 0.25cm;
    border-color: white;
    background-color: black;
    padding: 0.25cm;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.5s linear;
}
button:hover{
    transform: scale(0.98);
    background-color: rgb(255, 255, 255);
}

button a{
    text-decoration: none;
    color: white;
}

button a:hover{
    color:black;
}